.main-navigation {

	padding: 0.3em 0 0 0;
	text-align: center;
	background-color: rgba($darkgrey, 1);

  a {
    font-size: 0.9em;
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    color: white;
    &:hover {
      color: rgba($darkgrey, 1);
      background-color: white;
    }

    @include breakpoint(big) {
      font-size: 1.1em;
    }

    @include breakpoint(bigger) {
      font-size: 1.4em;
    }
  
  }

}

.navigation {

  li {
    display: inline-block;
  }

}

.inner-page-navigation {

  a {
    font-size: 1.3em;
    padding: 0.5em; 
  }

}